html
  head
    title= title
  style
    include style.css
  body
    div
      h2
        a(href="/meme/" + meme.id) #{meme.name}
      div=`Price: ${meme.price}`
      form(method="POST")
        div.form-group
          label(for="price") Change the price:
          input#price.form-control(type="text" name="price")
        button.btn.btn-primary(type="submit") Submit
      h2="Price history"
      br
      img(class="meme-img" src=meme.url)
      ul
        each price in meme.price_history
          li
            span #{price}